body{
    width:80%;
    margin:auto;
}

*{
    font-family: Verdana;
}

#banner{
    width:40%;
    display:block;
    margin:auto;
}

.languageSelect{
    border:5px solid #80a24b29;
    width:350px;
    height:125px;
    padding: 20px;
    overflow: hidden;
    margin:20px 50px;
    float:left;
}

.languageSelect:hover{
    background:#80a24b;
    border:5px solid #98c750;
}
.languageSelect.click{
    background:#98c750;
    border:5px solid #c7ea4e;
}


.languageSelect:hover *:not(img){
    color:white;
}

.languageImg{
    width:100px;
    margin:13px 15px 0 0;
    float: left;
}

#welcome{
    font-weight: bold;
    font-size: xx-large;
    font-family: Verdana;
    margin:auto;
    text-align:center;
    color: #80a24b
}

#OptionContainer{
    display:inline-block;
    justify-content:center;
    margin-top:50px;
}