#nav-bar{
    position: relative;
    top: 0;
    left: 0;
    background-color: #eff9ec;
    border: #eff9ec 2px solid;
    display: flex;
    align-items: left;
    width:100%
}

.nav-bar-element{
    width: 70px;
    height: 30px;
    color: #292929;
    font-weight: bold;
    font-size: larger;

}
#current.nav-bar-element{
    background-color: #ee0f00;
}
#nav-bar:hover{
    border: #abeea5 2px solid;
}
.nav-bar-element:hover{
    background-color: #abeea5;
    color: white;
}