#nav-bar{
    position: fixed;
    top: 0;

    background-color: #eff9ec;
    border: #eff9ec 2px solid;
    display: flex;
    align-items: left;
    width:80%;
}

.nav-bar-element{
    width: 100px;
    padding: 20px;
    color: #292929;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    text-decoration:none;
}
#current.nav-bar-element{
    background-color: #c9ffc4;
}
#nav-bar:hover{
    border: #abeea5 2px solid;
}
.nav-bar-element:hover{
    background-color: #abeea5;
    color: white;
}

/*
 * Navigation Bar Login
 */

.nav-bar-element.login{

}